docbook/cathdb.nvdl

<?xml version="1.0" encoding="utf-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  <namespace ns="http://docbook.org/ns/docbook">
    <validate schema="cathdb.rng"/>
    <validate schema="http://docbook.org/xml/publishers/1.0/sch/publishers.sch"/>
  </namespace>
</rules>
